@import "../styles/colors.css";
@import "./field-errors.css";
@import "./field.css"; /* include all field classes */
@import "../styles/layers.css";

:root {
  --borderWidth: 1px;
  --inputHeight: 40px;
  --inputMarginBottom: 7px;
}

.dropdownContainer {
  position: relative;
}
.dropdown {
  position: absolute;
  top: var(--inputHeight);
  left: 0;
  width: 100%;
  max-height: 40vh;
  border: 1px solid #ababab;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
  z-index: var(--layerDropdown);
}
.dropdownItem {
  display: block;
  width: 100%;
  height: var(--inputHeight);
  line-height: var(--inputHeight);
  border: 0;
  padding: 0 15px;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  background: white;
}
.dropdownItem:focus {
  background: var(--colorAccent);
  color: white;
  outline: none;
}