@import "../styles/colors.css";
@import "../styles/fonts.css";

.root {
  width: 100%;
  margin-bottom: 15px;
}
.body {
  
}
.row {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid var(--colorSecondaryLight);
  margin: 0;
}
.row:focus {
  background: var(--colorSecondaryLighter);
  outline: none;
}
.row:hover {
  background: var(--colorSecondaryLightest);
  outline: none;
}
.rowWrite {
  composes: row;
  background: var(--colorSecondaryLightest);
}
.rowEmpty {
  composes: row;
  border: 1px dotted var(--colorSecondaryLight);
}
.rowEmpty:focus,
.rowEmpty:hover {
  background: inherit;
}
.cell {
  flex: 1;
  text-align: left;
}
.cell + .cell {
  margin-left: 10px;
}
.cellEmpty {
  composes: cell;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: var(--colorSecondaryLight);
}
.head {
}
.headRow {
  composes: row;
  padding-bottom: 25px;
}
.headRow:focus,
.headRow:hover {
  background: none;
}
.headCell {
  composes: cell;
  font-family: var(--fontSpecial);
  font-weight: 100;
}