@import "../common/styles/accessibility.css";
@import "../common/styles/colors.css";

.root {
  
}
.label {
  composes: screenreader-only from "../common/styles/accessibility.css";
}
.btn {
  composes: button from "../common/styles/buttons.css";
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 20px;
}
.file {
  composes: screenreader-only from "../common/styles/accessibility.css";
}