.root {
}
.fields {
  display: flex;
  justify-content: space-between;
}
.field {
  flex: 1;
}
.field + .field {
  margin-left: 10px;
}
.btn {
  composes: screenreader-only from "../common/styles/accessibility.css";
}