:root {
  deprecated
  --colorBrandPrimaryLighter: #A9B8D9;
  --colorBrandPrimaryLight: #5E739F;
  --colorBrandPrimary: #2F4574;
  --colorBrandPrimaryDark: #102249;
  --colorBrandPrimaryDarker: #020B1D;

  --colorBrandSecondaryLighter: #B1AEDC;
  --colorBrandSecondaryLight: #6965A6;
  --colorBrandSecondary: #383579;
  --colorBrandSecondaryDark: #17134C;
  --colorBrandSecondaryDarker: #05031E;

  --colorBrandTertiaryLighter: #A4C4D5;
  --colorBrandTertiaryLight: #568197;
  --colorBrandTertiary: #29566E;
  --colorBrandTertiaryDark: #0C3145;
  --colorBrandTertiaryDarker: #01121B;

  --colorBrandHighlightLight: #f2f059;
  --colorBrandHighlight: #dbd950;
  --colorBrandHighlightDark: #d5ca4f;

  --colorLightest: #fff;
  --colorLight: #bce1f5;

  --colorDark: #212121;

  --colorError: #cb2810;

  --colorBland: grey;


  --colorPrimary: #fff;
  --colorSecondary: #000;
  --colorSecondaryLight: #ababab;
  --colorSecondaryLightest: #efefef;
  --colorSecondaryInvert: #fff;
  
  --colorAccentDark: #00962F;
  --colorAccent: #00CA40;
  --colorAccentLight: #06FF55;
  --colorAccentLighter: #A7FFC3;
  --colorAccentInvert: #fff;

  --colorText: #000;
  --colorTextLight: #ababab;

  --colorLink: #00962f;
  --colorLinkHover: #000;
  --colorLinkActive: #000;
}