.root {
  width: 100%;
}
.body {
  
}
.row {
  display: flex;
}
.cell {
  flex: 1;
  text-align: left;
}
.cell + .cell {
  margin-left: 10px;
}
.head {

}
.headRow {
  composes: row;
}
.headCell {
  composes: cell;
}