.root {
  position: fixed;
  top: 0;
  right: 30px;
  width: 300px;
}
.alert {
  position: relative;
  display: block;
  margin-bottom: 10px;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}
.SUCCESS {
  composes: alert;
  background: green;
  background: linear-gradient(to bottom, rgba(168,224,0,1) 0%, rgba(145,232,66,1) 100%);
}
.ERROR {
  composes: alert;
  background: red;
  background: linear-gradient(to bottom, rgba(231,56,39,1) 0%, rgba(248,80,50,1) 100%);
}